<div class="row" style="min-height:100vh">
  <div class="col-2" style="background-color:#303030;">
    {{> nav-left}}
  </div>

  <div class="col-10" style="background-color:#202a3c">
    <div class="d-flex justify-content-between mt-5 ms-5" style="color:#F5F5F5; width: 81%;">
      <a href="javascript:history.back()">
        <i class="fa-solid fa-arrow-left-long" style="color: #F5F5F5;"></i>
      </a>
      <a href="/dives/{{dive._id}}/edit">
        <i class="fa-regular fa-pen-to-square fa-lg ms-5" style="color: #F5F5F5;"></i>
      </a>
    </div>

    <div class="d-flex ms-5 mt-3" style="height: 80%;">
      <div class="" style="border:2px solid #F5F5F5; border-radius: 4px;">
        {{#if dive.image}}
        <img class="justify-content-start" src="{{dive.image}}" style="width:650px; height:500px; border-bottom:2px solid #F5F5F5;">
        {{else}}
        <img class="justify-content-start" src="https://i.imgur.com/qoGgz0g.png" style="width:650px; height:500px; border-bottom:2px solid #F5F5F5;">
        {{/if}}
        <div class="mt-2 ms-2 me-2"style="width:630px; height: 30%;">
          <h6 style="color:#F5F5F5;">筆記摘要：</h6>
          <p style="color:#F5F5F5;">{{dive.note}}</p>
        </div>
      </div> 

      <div class="container d-flex justify-content-center ms-2" style="width: 40%; height:100%; border:2px solid #F5F5F5; border-radius: 4px;">
        <div class="mt-3 flex-fill row" style="width:100%; height: 5%; color:#F5F5F5;">
          <h5>{{dive.location}}</h5>
          <div class="mt-3 col " style="width: 45%; color:#F5F5F5;">
            <div class="align-items-center mt-3">
              <h6>日期：{{dive.date}}</h6>
            </div>
            <div class="align-items-center mt-4 mb-2">
              <h6>方式：{{dive.divingType}}</h6>
            </div>
          </div>

          <div class="mt-3 col mb-4" style="width: 45%; color:#F5F5F5;">
            <div class="align-items-center mt-3">
              <h6>主題：{{dive.subject}}</h6>
            </div>
            {{#if dive.weather}}
            <div class="align-items-center mt-4">
              <h6>天氣：{{dive.weather}}</h6>
            </div>
            {{else}}
            <div class="align-items-center mt-4">
              <h6>天氣：<i class="fa-solid fa-question" style="color: #F5F5F5;"></i></h6>
            </div>
            {{/if}}
          </div>
          <hr>
          
          <div class="mt-3 col " style="width: 45%; color:#F5F5F5;">
            {{#if dive.surfaceTemp}}
            <div class="align-items-center mt-3">
              <h6>水面溫度：{{dive.surfaceTemp}}&nbsp;<span>℃</span></h6>
            </div>
            {{else}}
            <div class="align-items-center mt-3">
              <h6>水面溫度：-- &nbsp;<span>℃</span></h6>
            </div>
            {{/if}}
            {{#if dive.divingTime}}
            <div class="align-items-center mt-4 mb-2">
              <h6>潛水時間：{{dive.divingTime}}&nbsp;分鐘</h6>
            </div>
            {{else}}
            <div class="align-items-center mt-4 mb-2">
              <h6>潛水時間：--&nbsp;分鐘</h6>
            </div>
            {{/if}}
            {{#if dive.residualPressure}}
            <div class="align-items-center mt-4 mb-2">
              <h6>殘壓：{{dive.residualPressure}}&nbsp;bar</h6>
            </div>
            {{else}}
            <div class="align-items-center mt-4 mb-2">
              <h6>殘壓：-- &nbsp;bar</h6>
            </div>
            {{/if}}
          </div>

          <div class="mt-3 col " style="width: 45%; color:#F5F5F5;">
            {{#if dive.underwaterTemp}}
            <div class="align-items-center mt-3">
              <h6>水下溫度：{{dive.underwaterTemp}}&nbsp;℃</h6>
            </div>
            {{else}}
            <div class="align-items-center mt-3">
              <h6>水下溫度：-- &nbsp;℃</h6>
            </div>
            {{/if}}
            {{#if dive.maxDepth}}
            <div class="align-items-center mt-4 mb-2">
              <h6>最大深度：{{dive.maxDepth}}&nbsp;公尺</h6>
            </div>
            {{else}}
            <div class="align-items-center mt-4 mb-2">
              <h6>最大深度：-- &nbsp;公尺</h6>
            </div>
            {{/if}}
            {{#if dive.visibility}}
            <div class="align-items-center mt-4 mb-2">
              <h6>能見度：{{dive.visibility}}&nbsp;公尺</h6>
            </div>
            {{else}}
            <div class="align-items-center mt-4 mb-2">
              <h6>能見度：-- &nbsp;公尺</h6>
            </div>
            {{/if}}
          </div>

        </div>

        
      </div>
    </div>

    

  </div>

  

</div>  